* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  .larger-font {
    font-size: 6.5em;
    padding-top: 40px;
    text-align:center;
    color: black;
  }
  .card {
    background: white;
    border: 5px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 40px;
  }
  .header h1 {
    position: relative;
    top: 18px;
    left: 100px;
    flex: 100%;
    display: inline-block;
    font-size: 48px;
  }
  .header {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blueviolet;
    color: #ffffff;
  }
  .header div {
    flex: 100%;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
  
  }
  
  
  .header div ul li {
    flex: 100%;
    display: inline-block;
    margin-left: 25px;
  
  }
  /* Top right text */
  .top-right {
    flex: 100%;
    position: absolute;
    top: 200px;
    right: 16px;
    font-size: 40px;
    color: white;
    font-style: italic;
  }
  .in{
    font-style: italic;
    text-decoration: underline;
  
  }
  .column footer {
    flex: 100%;
    padding: 60px;
    column-fill: auto;
  }
  footer {
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 400px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
  }
  .in{
    font-style: italic;
    text-decoration: underline;
  
  }
  
  .row footer {
    display: flex;
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: black;
  }